<%- include("header") -%>
<body>
    <div class="row">
        <div class="col-lg-2 col-md-4 side-bar-main">
            <%- include("side-bar") -%>
        </div>
        <div class="col-lg-10 col-md-8 main-content">
            <div class="row">
                <div class="col-12 main-content-header">
                    <h1 class="text-center">Add New Account</h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>