<%- include("header") -%>
<body>
    <div class="row">
        <div class="col-lg-2 col-md-4 side-bar-main">
            <%- include("side-bar") -%>
        </div>
        <div class="col-lg-10 col-md-8 main-content">
            <div class="row">
                <div class="col-12 main-content-header">
                    <h1 class="text-center">All Balances</h1>
                </div>
                <div class="col-12">
                    <table class="table main-account-table">
                        <% accounts.forEach(function(account){ %>
                            <tr class="account-table-row">
                                <td><%=  account.name %></td>
                                <td>$<%=  account.current_balance %></td>
                            </tr>
                        <% }); %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>