<%- include("header") -%>
<body>
    <div class="row">
        <div class="col-lg-2 col-md-4 side-bar-main">
            <%- include("side-bar") -%>
        </div>
        <div class="col-lg-10 col-md-8 main-content">
            <div class="row">
                <div class="col-12 main-content-header">
                    <h1 class="text-center">All Balances</h1>
                </div>
                <div class="col-12">
                    <table class="table main-account-table">
                        <tr class="account-table-row">
                            <td>Account 1</td>
                            <td>$12345.00</td>
                        </tr>
                        <tr class="account-table-row">
                            <td>Account 2</td>
                            <td>$-500.00</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>