<div class="row sidebar-header">
    <h1 class="text-white">Personal Finance Tracker</h1>
</div>
<div class="row">
    <div class="btn-group-vertical" style="padding: 0;">
        <% accounts.forEach(function(account){ %>
            <button class="btn deselected-btn"><%= account.name %> </button>
        <% }); %>
        <form action="/add_account" method="get" style="width:100%;">
            <button class="btn deselected-btn">Add account</button>
        </form>
    </div>
</div>