<div class="row sidebar-header">
    <h1 class="text-white">Personal Finance Tracker</h1>
</div>
<div class="row">
    <div class="btn-group-vertical" style="padding: 0;">
        <% accounts.forEach(function(account){ %>
            <form action="/account_view" method="post">
                <button class="btn deselected-btn" name="account_id" value="<%= account._id %>"><%= account.name %> </button>
            </form>
        <% }); %>
        <form action="/add_account" method="get">
            <button class="btn deselected-btn">Add account</button>
        </form>
    </div>
</div>